@import '../../defaults.scss';

.card-container {
    .img-container {
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
        margin-bottom: 16px;
    }

    a {
        color: $blue !important;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}
