@import '../../defaults.scss';

footer {
    background: $black;
    color: white;
    padding: 64px 0;
    font-size: 18px;

    .socials-container {
        width: 60%;

        .h-list {
            margin: 0;
        }

        .h-list-item::after {
            display: none;
        }
    }
}
