@import './defaults.scss';
/* This is the master styling class, imported first, and sets up some defaults */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: $serifFont;
}

a,
a:visited,
a:hover,
a:focus,
a:active {
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $sansSerifFont;
}

.container {
    margin: 0 48px;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

/* * * Paragraph Styles * * */
i,
em,
.light-text {
    font-weight: 300 !important;
}

b,
strong,     //fr
.heavy-text {
    font-weight: 600;
}

.magenta-text {
    color: $magenta;
}

.green-text {
    color: $green;
}

.blue-text {
    color: $blue;
}
