/* This is the master styling class, imported first, and sets up some defaults */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box; }

a,
a:visited,
a:hover,
a:focus,
a:active {
  color: inherit; }
